<header>
    <div>
        <a href="/"><img src="../assets/mcdb_logo.png"></a>
    </div>
    
    <div class="nav">
        <li><p class="home-top"><a class="home" href="/"><strong>HOME</strong></a></p></li>
        <li><p class="home-top"> <a class="home" href="/search"><i class="fa fa-search"></i></a></p></li>
        <li><button class="in_out"><a class="home" href="/login"><strong>LOGIN</strong></a></button></li>
    </div>
</header>