<header>
    <div>
        <a href="/"><img src="../assets/mcdb_logo.png"></a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search movie title...">
        <a href="/details"><i class="fa fa-search"></i></a>
    </div>
    <div class="nav">
        <p class="home-top"><a class="home" href="/"><strong>HOME</strong></a></p>
        <button class="in_out"><a class="home" href="/login"><strong>LOGIN</strong></a></button>
    </div>
</header>