<header>
    <div>
        <a href="/"><img src="./assets/mcdb_logo.png"></a>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search movie title...">
        <a href="/details"><i class="fa fa-search"></i></a>
    </div>
    <div>
        <ul class="nav justify-content-end nav-pills nav-fill nav-fill-login">
            <li class="nav-item sched-mgmt">
                <a class="nav-link" href="/" tabindex="-1">Home</a>
            </li>
            <li id="logout" class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
            </li>
          </ul>
    </div>
</header>