<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Club</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->


</head>

<body>
    <!--Header-->

    <%- include('../partials/header1')%>
    <!-- Content -->
    <div class="box-shadow">
        <main>
            <h1><strong>Please sign up</strong></h1><br>
        <% if (message) { %>
            <div class="row errormsg">
                <%= message %>
            </div>
            <% } %>
                <div class="wrap-form">
                    <form action="/signup" method="POST">
                        <div class="container">
                            <div class="mb-3 form-size center_div">
                                <label for="firstname" class="form-label">First Name *</label>
                                <input id="firstname" class="form-control" type="text" name="firstname" required />
                            </div>
                            <div class="mb-3 form-size center_div">
                                <label for="lastname" class="form-label">Last Name *</label>
                                <input id="lastname" class="form-control" type="text" name="lastname" required />
                            </div>
                            <div class="mb-3 form-size center_div">
                                <label for="email" class="form-label">Email *</label>
                                <input id="email" class="form-control" type="email" name="email" required />
                            </div>
                            <div class="mb-3 form-size center_div">
                                <label for="password" class="form-label">Password *</label>
                                <input id="password" class="form-control" type="password" name="password" required />
                            </div>
                            <div class="mb-3 form-size center_div">
                                <label for="confirmpassword">Confirm Password *</label>
                                <input id="confirmpassword" class="form-control" type="password" name="confirmpassword"
                                    required />
                            </div>
                            <div class="btns">
                                <button type="submit" class="btn btn-primary">Signup</button>
                            </div>
                        </div>
                    </form>
                </div>
        </main>
    </div>

</body>

</html>